body {
    margin: 0;
}
.background_image {
    height: 100vh;
    width: 100vw;
    /* background-color: orange; */
    background: url(bg.jpg), url(face.jpg), linear-gradient(90deg, firebrick, steelblue);
    background-size: cover;
    background-blend-mode: overlay;
}