body {
    margin: 0;
    overflow: hidden;
}
/* @font-face {
    font-family: "???";
    src: url("???") format("opentype");
} */
.background_image {
    height: 100vh;
    width: 100vw;
    /* background-color: orange; */
    /* background: url(bg.jpg), url(face.jpg), linear-gradient(90deg, firebrick, steelblue);
    background-blend-mode: overlay, multiply; */
    background: url(rust.jpg), linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75));
    background-blend-mode: multiply, multiply;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}
.div_contact_container {
    position: absolute;
    top: 10px;
    right: 1vw;
    width: 550px;
    height: 120px;
    float: left;
    /* border: solid yellow 1px; */
}
.div_contact {
    width: 430px;
    height: 30px;
    float: left;
    text-align: right;
    font-family: 'Gill Sans';
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: .05em;
    color: wheat;
    position: relative;
    top: 0vw;
    left: 0px;
    white-space: nowrap;
    text-shadow: 0 0 25px black;
    /* border: solid blue 1px; */
}
.div_contact_tear {
    /* font-family: 'Franklin Gothic Book'; */
    width: 80px;
    height: 80px;
    float: left;
    /* border: solid  green 1px; */
}
.div_contact_1 {
    margin: 2px;
    width: 30px;
    height: 30px;
    background-image: url(mail.png);
    background-size: contain;
    float: left;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.div_contact_2 {
    margin: 2px;
    width: 30px;
    height: 30px;
    background-image: url(document.png);
    background-size: contain;
    float: left;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.div_contact_3 {
    margin: 2px;
    width: 30px;
    height: 30px;
    background-image: url(octocat.png);
    background-size: contain;
    float: left;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.div_contact_4 {
    margin: 2px;
    width: 30px;
    height: 30px;
    background-image: url(linkedin.png);
    background-size: contain;
    float: left;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#img_mail {
    width: 1vw;
}
.div_D {
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: -21vw;
    left: 1.5vw;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: 'Cochin';
    /* font-family: 'Imprint MT Shadow';  */
    font-size: 50vw;
    /* font-weight: bold; */
    color: rgba(255, 240, 200, 0.15);
    /* text-transform: uppercase; */
    /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
    mix-blend-mode: overlay;
    /* background: rgba(0, 0, 0, 1); */
    /* -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1); */
    /* border: solid red 1px; */
}
.div_M {
    height: 100vh;
    width: 62vw;
    position: absolute;
    top: 11vw;
    left: 41vw;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Cochin';
    /* font-family: 'Rockwell'; */
    /* font-family: 'Palatino'; */
    /* font-family: 'Optima'; */
    font-size: 50vw;
    /* font-weight: bolder; */
    color: rgba(255, 240, 200, 0.15);
    mix-blend-mode: overlay;
    /* background: rgba(0, 0, 0, 1); */
    /* -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); */
    /* border: solid green 1px; */
}
.div_form {
    position: absolute;
    top: 22vw;
    left: -3vw;
    margin: 0;
    padding: 0;
    font-family: 'Cochin';
    text-align: center;
    font-size: 15vw;
    color: rgba(0, 0, 0, 0.065);
    /* text-transform: uppercase; */
    /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
    mix-blend-mode: darken;
    /* background: rgba(0, 0, 0, 1) */
}
.div_function {
    position: absolute;
    top: .5vw;
    left: 46vw;
    margin: 0;
    padding: 0;
    font-family: 'Cochin'; 
    text-align: center;
    font-size: 16vw;
    color: rgba(0, 0, 0, 0.065);
    /* text-transform: uppercase; */
    /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
    mix-blend-mode: darken;
    /* background: rgba(0, 0, 0, 1) */
}
.div_bug_1 {
    position: absolute;
    top: 10vw;
    left: 39vw;
    font-family: 'Franklin Gothic Book';
    /* font-weight: bold; */
    width: 10vw;
    height: 10vw;
    background-image: url(brakumo.jpg);
    background-size: contain;
    text-align: center;
    line-height: 23vw;
    float: left;
    font-size: 1.25vw;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 100px 0px black;
    -webkit-box-shadow: 0 0 100px 0px black;
    filter: contrast(75%);
}
.div_bug_1:hover {
    filter: contrast(100%);
}
.div_bug_2 {
    position: absolute;
    top: 10vw;
    left: 51vw;
    font-family: 'Franklin Gothic Book';
    /* font-weight: bold; */
    width: 10vw;
    height: 10vw;
    background-image: url(memory-js.jpg);
    background-size: contain;
    text-align: center;
    line-height: 23vw;
    float: left;
    font-size: 1.25vw;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 100px 0px darkgray;
    -webkit-box-shadow: 0 0 100px 0px darkgray;
    filter: contrast(75%);
}
.div_bug_2:hover {
    filter: contrast(100%);
}
.div_bug_3 {
    position: absolute;
    top: 22vw;
    left: 39vw;
    font-family: 'Franklin Gothic Book';
    /* font-weight: bold; */
    width: 10vw;
    height: 10vw;
    background-image: url(cryptocurious.jpg);
    background-size: contain;
    text-align: center;
    line-height: 23vw;
    float: left;
    font-size: 1.25vw;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 100px 0px black;
    -webkit-box-shadow: 0 0 100px 0px black;
    filter: contrast(75%);
}
.div_bug_3:hover {
    filter: contrast(100%);
}
.div_bug_4 {
    position: absolute;
    top: 22vw;
    left: 51vw;
    font-family: 'Franklin Gothic Book';
    /* font-weight: bold; */
    width: 10vw;
    height: 10vw;
    background-image: url(brandt.jpg);
    background-size: contain;
    text-align: center;
    line-height: 23vw;
    float: left;
    font-size: 1.25vw;
    border: solid  rgba(255, 255, 255, 1) 1px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 100px 0px darkgray;
    -webkit-box-shadow: 0 0 100px 0px darkgray;
    filter: contrast(75%);
}
.div_bug_4:hover {
    filter: contrast(100%);
}
.div_bug_1_GH {
    width: 2.5vw;
    height: 2.5vw;
    background-image: url(octocat.png);
    background-size: contain;
    border: solid  rgba(255, 255, 255, 1) 1px;
    position: absolute;
    top: 8.4vw;
    left: 37.45vw;
    font-family: 'Franklin Gothic Book';
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 100px 0px darkgray;
    -webkit-box-shadow: 0 0 100px 0px darkgray;
    filter: invert(10%)
}
.div_bug_1_GH:hover {
    filter: invert(0%)
}
.div_bug_1_modal {
    width: 2.5vw;
    height: 2.5vw;
    background-image: url(question.png);
    background-size: contain;
    border: solid  rgba(255, 255, 255, 1) 1px;
    position: absolute;
    top: 11.4vw;
    left: 35.45vw;
    font-family: 'Franklin Gothic Book';
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    color: white;
    text-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 100px 0px darkgray;
    -webkit-box-shadow: 0 0 100px 0px darkgray;
    filter: invert(10%)
}
.div_bug_1_modal:hover {
    filter: invert(0%)
}

/* The Modal (background) */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 11vw;
    top: 10vw;
    width: 500px;
    height: 700px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_bug_1_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    font-family: 'Gill Sans';
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: .05em;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}