a {
  text-decoration: none;
  color: white;
}

/* Contact styles
  --------------------------------------------- */
.link_group1 {
  z-index: 1;
  width: 124px;
  height: 124px;
  line-height: 125px;
  transform-style: flat;
  position: absolute;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: wheat;
  letter-spacing: .05em;
  top: 12vh;
  left: 5vw;
  text-align: center;
  /* background: rgba(237, 9, 9, 0.482); */
}

.link_group2 {
  z-index: 1;
  width: 124px;
  height: 124px;
  line-height: 125px;
  transform-style: flat;
  position: absolute;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: wheat;
  letter-spacing: .05em;
  top: 12vh;
  left: 20vw;
  text-align: center;
  /* background: rgba(237, 9, 9, 0.482); */
}

.link_group3 {
  z-index: 1;
  width: 124px;
  height: 124px;
  line-height: 125px;
  transform-style: flat;
  position: absolute;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: wheat;
  letter-spacing: .05em;
  top: 12vh;
  left: 35vw;
  text-align: center;
  /* background: rgba(237, 9, 9, 0.482); */
}
.link_group4 {
  z-index: 1;
  width: 124px;
  height: 124px;
  line-height: 125px;
  transform-style: flat;
  position: absolute;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: wheat;
  letter-spacing: .05em;
  top: 12vh;
  left: 50vw;
  text-align: center;
  /* background: rgba(237, 9, 9, 0.482); */
}
.link_group5 {
  z-index: 1;
  width: 124px;
  height: 124px;
  line-height: 125px;
  transform-style: flat;
  position: absolute;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: wheat;
  letter-spacing: .05em;
  top: 12vh;
  left: 65vw;
  text-align: center;
  /* background: rgba(237, 9, 9, 0.482); */
}

.link_group6 {
  z-index: 1;
  width: 124px;
  height: 124px;
  line-height: 125px;
  transform-style: flat;
  position: absolute;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: wheat;
  letter-spacing: .05em;
  top: 12vh;
  left: 80vw;
  text-align: center;
  /* background: rgba(237, 9, 9, 0.482); */
}

.div_contact_container {
    position: fixed;
    top: 10px;
    right: 2vw;
    /* width: 550px; */
    /* height: 120px; */
    z-index: 1;
    /* float: left; */
    border: solid yellow 1px;
}
.div_contact {
  z-index: 1;
    position: fixed;
    width: 430px;
    height: 30px;
    /* float: left; */
    text-align: right;
    font-family: 'Calibri';
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: .03em;
    color: wheat;
    top: 10px;
    right: 15px;
    white-space: nowrap;
    text-shadow: 0 0 25px black;
    /* border: solid blue 1px; */
}
.div_contact_tear {
    position: relative;
    width: 40px;
    /* height: 160px; */
    float: right;
    border: solid  green 1px;
}
.div_contact_1 {
  z-index: 1;
  position: fixed;
  top: 60px;
  right: 25px;
  width: 30px;
  height: 30px;
  background-image: url(mail.png);
  background-size: contain;
  float: right;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.div_contact_2 {
  z-index: 1;
  position: fixed;
  top: 120px;
  right: 25px;
  width: 30px;
  height: 30px;
  background-image: url(document.png);
  background-size: contain;
  float: right;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.div_contact_3 {
  z-index: 1;
  position: fixed;
  top: 190px;
  right: 25px;
  width: 30px;
  height: 30px;
  background-image: url(octocat.png);
  background-size: contain;
  float: right;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.div_contact_4 {
  z-index: 1;
  position: fixed;
  top: 260px;
  right: 25px;
  width: 30px;
  height: 30px;
  background-image: url(linkedin.png);
  background-size: contain;
  float: right;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* Parallax base styles
  --------------------------------------------- */

  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px; /* the total depth of field */
    perspective: 300px; /* the total depth of field */
    /* border: solid black 1px; */
    scroll-behavior: smooth;

    /* background: rgba(0, 0, 0, 1); */
    background-image: linear-gradient(rgba(50, 50, 50, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)75%),
                      url("dark_rain.jpg");
    /* background: url(dark_rust.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: grayscale(50%); */
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--1 {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    /* overflow: hidden; */
    z-index: 1;
  }

  .parallax__layer--2 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer_left--3 {
    /* scale is 2 because this is full depth of field */
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    /* border: solid red 1px; */
    width: 50vw;
    position: absolute;
    left: -25vw;
    z-index: 2;
  }

  .parallax__layer_right--3 {
    /* scale is 2 because this is full depth of field */
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    /* border: solid red 1px; */
    width: 50vw;
    position: absolute;
    left: 75vw;
    z-index: 2;
  }

  .parallax__layer--final {
    /* scale is 2 because this is full depth of field */
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    height: 0vh;
    width: 50vw;
    position: absolute;
    left: 75vw;
    z-index: 2;
  }

  .parallax__layer--4 {
    -webkit-transform: translateZ(-1200px) scale(6);
    transform: translateZ(-1200px) scale(6);
  }


  /* Debugger styles - used to show the effect
  --------------------------------------------- */

  .debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 998;
    background: rgba(0,0,0,.85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
  }
  .debug-on .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
 }
  .debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }
  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
.div_blurb_1 {
  /* transform-style: flat; */
  /* z-index: 1; */
  text-align: right;
  position: absolute;
  right: 40vw;
  top: 32vh;
  width: 20vw;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Calibri';
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: .05em;
  color: wheat;
  /* border: dashed black 1px; */
}

.div_blurb_2 {
  /* transform-style: flat; */
  /* z-index: 1; */
  text-align: left;
  /* align-content: right; */
  position: absolute;
  left: 50vw;
  top: 60vh;
  width: 22vw;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Calibri';
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: .05em;
  line-height: 18px;
  color: wheat;
  /* border: dashed black 1px; */
}

.div_blurb_3 {
  /* transform-style: flat; */
  /* z-index: 1; */
  text-align: left;
  /* align-content: right; */
  position: absolute;
  left: 22vw;
  top: 68vh;
  width: 22vw;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Calibri';
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: .05em;
  line-height: 18px;
  color: wheat;
  /* border: dashed black 1px; */
}

.div_blurb_4 {
  /* transform-style: flat; */
  /* z-index: 1; */
  text-align: left;
  /* align-content: right; */
  position: absolute;
  left: 22vw;
  top: 64vh;
  width: 22vw;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Calibri';
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: .05em;
  line-height: 18px;
  color: wheat;
  /* border: dashed black 1px; */
}

.div_blurb_5 {
  /* transform-style: flat; */
  /* z-index: 1; */
  text-align: left;
  /* align-content: right; */
  position: absolute;
  left: 22vw;
  top: 64vh;
  width: 22vw;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Calibri';
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: .05em;
  line-height: 18px;
  color: wheat;
  /* border: dashed black 1px; */
}

.div_blurb_6 {
  /* transform-style: flat; */
  /* z-index: 1; */
  text-align: left;
  position: absolute;
  left: 50vw;
  top: 33vh;
  width: 40vw;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Calibri';
  font-size: 16px;
  letter-spacing: .05em;
  color: wheat;
  /* border: dashed black 1px; */
}

.div_screen_shot_1 {
  width: 25vw;
  height: 45vh;
  /* transform-style: flat; */
  z-index: 1;
  text-align: center;
  position: absolute;
  left: 60vw;
  top: 32vh;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
  letter-spacing: .05em;
  background: url(home_photo.jpg);
  background-size: cover;
  border: solid wheat 2px;
  border-radius: .5vw;
}
.div_screen_shot_2 {
  width: 22vw;
  height: 30vh;
  /* transform-style: flat; */
  z-index: 1;
  text-align: center;
  position: absolute;
  left: 50vw;
  top: 28vh;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
  letter-spacing: .05em;
  background: url(cryptocurious.jpg);
  background-size: cover;
  border: solid wheat 2px;
  border-radius: .5vw;
}

.div_screen_shot_2:hover {
  filter: brightness(50%);
}

.div_screen_shot_3 {
  width: 22vw;
  height: 30vh;
  /* transform-style: flat; */
  z-index: 1;
  text-align: center;
  position: absolute;
  left: 22vw;
  top: 36vh;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
  letter-spacing: .05em;
  background: url(memory-js.jpg);
  background-size: cover;
  border: solid wheat 2px;
  border-radius: .5vw;
}

.div_screen_shot_3:hover {
  filter: brightness(50%);
}

.div_screen_shot_4 {
  width: 22vw;
  height: 30vh;
  /* transform-style: flat; */
  z-index: 1;
  text-align: center;
  position: absolute;
  left: 22vw;
  top: 32vh;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
  letter-spacing: .05em;
  background: url(brakumo.jpg);
  background-size: cover;
  border: solid wheat 2px;
  border-radius: .5vw;
}

.div_screen_shot_4:hover {
  filter: brightness(50%);
}

.div_screen_shot_5 {
  width: 22vw;
  height: 30vh;
  /* transform-style: flat; */
  z-index: 1;
  text-align: center;
  position: absolute;
  left: 22vw;
  top: 32vh;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
  letter-spacing: .05em;
  background: url(brandt.jpg);
  background-size: cover;
  border: solid wheat 2px;
  border-radius: .5vw;
}

.div_screen_shot_5:hover {
  filter: brightness(50%);
}

.div_screen_shot_6 {
  width: 40vw;
  height: 45vh;
  /* transform-style: flat; */
  z-index: 1;
  text-align: center;
  position: absolute;
  right: 50vw;
  top: 33vh;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
  letter-spacing: .05em;
  background: url(brandt.jpg);
  background-size: cover;
  border: solid wheat 2px;
  border-radius: .5vw;
}

.div_github_2 {
  z-index: 1;
  float: left;
  position: absolute;
  left: 73vw;
  top: 53vh;
  width: 30px;
  height: 30px;
  background-image: url(octocat.png);
  background-size: contain;
  float: left;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.div_github_2:hover {
  filter: brightness(50%);
}

.div_github_3 {
  z-index: 1;
  float: left;
  position: absolute;
  left: 45vw;
  top: 61vh;
  width: 30px;
  height: 30px;
  background-image: url(octocat.png);
  background-size: contain;
  float: left;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.div_github_3:hover {
  filter: brightness(50%);
}

.div_github_4 {
  z-index: 1;
  float: left;
  position: absolute;
  left: 45vw;
  top: 57vh;
  width: 30px;
  height: 30px;
  background-image: url(octocat.png);
  background-size: contain;
  float: left;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.div_github_4:hover {
  filter: brightness(50%);
}

.div_github_5 {
  z-index: 1;
  float: left;
  position: absolute;
  left: 45vw;
  top: 57vh;
  width: 30px;
  height: 30px;
  background-image: url(octocat.png);
  background-size: contain;
  float: left;
  border: solid  rgba(255, 255, 255, 1) 1px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.div_github_5:hover {
  filter: brightness(50%);
}
  
  h4 {
      font-family: 'Rockwell';
      color: darkgray;
      font-size: 13px;
      font-weight: lighter;
      white-space: nowrap;
  }
  h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25vw;
    font-weight: lighter;
    white-space: nowrap;
}
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8px;
    font-weight: lighter;
    color: gray;
    white-space: nowrap;
}



  /* style the groups
  --------------------------------------------- */

  /* #group1 {
    z-index: 5;
  } */
  #group1 .parallax__layer--2 {
    height: 100vh;
    margin-bottom: auto;
    margin-top: auto;
    /* background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)); */
    /* background-blend-mode: multiply, multiply; */
  }

  #group2 .parallax__layer--2 {
    height: 100vh;
    margin-bottom: auto;
    margin-top: auto;
    /* background: linear-gradient(180deg, rgba(191, 38, 38, 1), rgba(255, 255, 255, 1), rgba(101, 155, 54, 1)); */
    /* background-blend-mode: multiply, multiply; */
  }

  #group3 .parallax__layer--2 {
    height: 100vh;
    margin-bottom: auto;
    margin-top: auto;
    /* background: linear-gradient(180deg, rgba(83, 133, 121, 0), rgba(255, 255, 255, 0.75), rgba(143, 108, 81, 0.75)); */
    /* background-blend-mode: multiply, multiply; */
  }

  #group4 .parallax__layer--2 {
    height: 100vh;
    margin-bottom: auto;
    margin-top: auto;
    /* background: linear-gradient(180deg, rgba(0, 255, 251, 0.75), rgba(255, 255, 255, 0.75), rgba(0, 94, 255, 0.75)); */
    /* background-blend-mode: multiply, multiply; */
  }

  #group5 .parallax__layer--2 {
    height: 100vh;
    margin-bottom: auto;
    margin-top: auto;
    /* background: linear-gradient(180deg, rgba(170, 0, 255, 0.75), rgba(255, 255, 255, 0.75), rgba(255, 0, 132, 0.75)); */
    /* background-blend-mode: multiply, multiply; */
  }

  #group6 .parallax__layer--2 {
    height: 100vh;
    margin-bottom: auto;
    margin-top: auto;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75)); */
    /* background-blend-mode: multiply, multiply; */
  }

.div_presence {
  /* z-index: 10; */
  position: absolute;
  top: 30vh;
  left: 6vw;
  margin: 0;
  padding: 0;
  font-family: 'Cochin';
  text-align: center;
  font-size: 11vw;
  color: rgba(62, 56, 45, 0.75);
  /* text-transform: uppercase; */
  /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
  /* mix-blend-mode: multiply; */
  /* background: rgba(0, 0, 0, 1) */
}

.div_purpose {
  /* z-index: 10; */
  position: absolute;
  top: 30vh;
  left: 50vw;
  margin: 0;
  padding: 0;
  font-family: 'Cochin';
  text-align: center;
  font-size: 11vw;
  color: rgba(62, 56, 45, 0.75);
  /* text-transform: uppercase; */
  /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
  /* mix-blend-mode: multiply; */
  /* background: rgba(0, 0, 0, 1) */
}

.div_performance {
  /* z-index: 10; */
  position: absolute;
  top: 33vh;
  left: 48vw;
  margin: 0;
  padding: 0;
  font-family: 'Cochin';
  text-align: center;
  font-size: 8.5vw;
  color: rgba(62, 56, 45, 0.75);
  /* text-transform: uppercase; */
  /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
  /* mix-blend-mode: multiply; */
  /* background: rgba(0, 0, 0, 1) */
}

.div_precision {
  /* z-index: 10; */
  position: absolute;
  top: 31vh;
  left: 50vw;
  margin: 0;
  padding: 0;
  font-family: 'Cochin';
  text-align: center;
  font-size: 11vw;
  color: rgba(62, 56, 45, 0.75);
  /* text-transform: uppercase; */
  /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
  /* mix-blend-mode: multiply; */
  /* background: rgba(0, 0, 0, 1) */
}

.div_personal {
  /* z-index: 10; */
  position: absolute;
  top: 30vh;
  left: 50vw;
  margin: 0;
  padding: 0;
  font-family: 'Cochin';
  text-align: center;
  font-size: 11vw;
  color: rgba(62, 56, 45, 0.75);
  /* text-transform: uppercase; */
  /* text-shadow: 0px 5px 10px rgba(0, 0, 0, 1); */
  /* mix-blend-mode: multiply; */
  /* background: rgba(0, 0, 0, 1) */
}

.div_dot_1 {
  width: 120px;
  height: 120px;
  padding: 0px;
  position: relative;
  left: 5vw;
  top: 12vh;
  /* background: linear-gradient(135deg, rgba(237, 206, 155, 0.5), rgba(255, 255, 255, .5) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border: solid rgba(62, 56, 45, 0.75) 3px;
}

.div_dot_2 {
  width: 120px;
  height: 120px;
  padding: 0px;
  position: relative;
  left: 20vw;
  top: 12vh;
  /* background: linear-gradient(135deg, rgba(165, 232, 214, 0.5), rgba(255, 255, 255, .5) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border: solid rgba(62, 56, 45, 0.75) 3px;
}

.div_dot_3 {
  width: 120px;
  height: 120px;
  padding: 0px;
  position: relative;
  left: 35vw;
  top: 12vh;
  /* background: linear-gradient(135deg, rgba(196, 164, 228, 0.5), rgba(255, 255, 255, .5) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border: solid rgba(62, 56, 45, 0.75) 3px;
}

.div_dot_4 {
  width: 120px;
  height: 120px;
  padding: 0px;
  position: relative;
  left: 0vw;
  top: 12vh;
  /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, .5) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border: solid rgba(62, 56, 45, 0.75) 3px;
}

.div_dot_5 {
  width: 120px;
  height: 120px;
  padding: 0px;
  position: relative;
  left: 15vw;
  top: 12vh;
  /* background: linear-gradient(135deg, rgba(0, 0, 255, .5), rgba(255, 255, 255, .5) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border: solid rgba(62, 56, 45, 0.75) 3px;
}

.div_dot_6 {
  width: 120px;
  height: 120px;
  padding: 0px;
  position: relative;
  left: 30vw;
  top: -13vh;
  /* background: linear-gradient(135deg, rgba(0, 0, 255, .5), rgba(255, 255, 255, .5) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border: solid rgba(62, 56, 45, 0.75) 3px;
}

.div_dot_7 {
  width: 60px;
  height: 60px;
  padding: 0px;
  position: relative;
  left: 44vw;
  top: 12vh;
  /* background: linear-gradient(135deg, rgba(138, 138, 138, 0.15), rgba(255, 255, 255, .15) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: white;
  border: solid rgba(62, 56, 45, 0.75) 2px;
}

.div_dot_8 {
  width: 60px;
  height: 60px;
  padding: 0px;
  position: relative;
  left: 7vw;
  top: 66vh;
  /* background: linear-gradient(135deg, rgba(138, 138, 138, 0.15), rgba(255, 255, 255, .15) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: white;
  border: solid rgba(62, 56, 45, 0.75) 2px;
}

.div_dot_9 {
  width: 60px;
  height: 60px;
  padding: 0px;
  position: relative;
  left: 70vw;
  top: 30vh;
  /* background: linear-gradient(135deg, rgba(138, 138, 138, 0.15), rgba(255, 255, 255, .15) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: white;
  border: solid rgba(62, 56, 45, 0.75) 2px;
}

.div_dot_10 {
  width: 60px;
  height: 60px;
  padding: 0px;
  position: relative;
  left: 58vw;
  top: 120vh;
  /* background: linear-gradient(135deg, rgba(138, 138, 138, 0.15), rgba(255, 255, 255, .15) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: white;
  border: solid rgba(62, 56, 45, 0.75) 2px;
}

.div_dot_11 {
  width: 60px;
  height: 60px;
  padding: 0px;
  position: relative;
  left: 20vw;
  top: 98vh;
  /* background: linear-gradient(135deg, rgba(138, 138, 138, 0.15), rgba(255, 255, 255, .15) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: white;
  border: solid rgba(62, 56, 45, 0.75) 2px;
}

.div_dot_12 {
  width: 60px;
  height: 60px;
  padding: 0px;
  position: relative;
  left: 84vw;
  top: 80vh;
  /* background: linear-gradient(135deg, rgba(138, 138, 138, 0.15), rgba(255, 255, 255, .15) 99%); */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  color: white;
  border: solid rgba(62, 56, 45, 0.75) 2px;
}