body {
    background-color: black;
    align-content: center;
    width: auto;
}
h1 {
    color: white;
}
h3 {
    color: white;
}
.container {
    width: 488px;
    height: 488px;
    background-color: black;
    background-image: none;
    border: none;
}
div {
    width: 120px;
    height: 120px;
    float: left;
    /* background-color: gray; */
    /* border: solid double 2px black; */
    border: 1px solid gray;
    border-radius: 5px;
    background-image: url(./cardBack.png);
    background-size: cover;
}
#reset {
    width: 488px;
    height: 160px;
    float: none;
    /* background-color: gray; */
    /* border: solid double 2px black; */
    border: none;
}